.App {
  text-align: center;
}
.card {
  -webkit-box-shadow: 12px 13px 35px -5px rgba(51, 46, 46, 0.94);
  -moz-box-shadow: 12px 13px 35px -5px rgba(51, 46, 46, 0.94);
  box-shadow: 12px 13px 35px -5px rgba(51, 46, 46, 0.94);
}
